{% extends 'master.html' %}
{% block title %}password reset form{% endblock %}

{% block body %}
<section id="form" style="margin-left:30%; margin-top:20px; margin-bottom:50px;"><!--form-->
		<div class="container">
			<div class="col-sm-4 col-sm-offset-1">
                <div class="signup-form"><!--login form-->
                    <h2>Reset Password</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {{ field.errors }}
                        <label>{{ field.label_tag }}</label>

                        <p>{{ field }}</p>
                        {% endfor %}
                        <br>
                        <button class="btn btn-default" type="submit">Send confirmation link</button>
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock %}