{% extends 'master.html' %}
{% block title %}signup{% endblock %}

{% block body %}
<section id="form" style="margin-left:30%; margin-top:20px; margin-bottom:50px;"><!--form-->
		<div class="container">
			<div class="col-sm-4 col-sm-offset-1">
                <div class="signup-form"><!--login form-->
                    <h2>New User Sign-Up</h2>
                    <form method="post">
                        {% csrf_token %}
                        {% for field in form %}
                        {{field.errors}}
                        <p>{{ field }}</p>
                        {% endfor %}
                        <button class="btn btn-default" type="submit" style="margin-left:35%;">Sign-Up</button>
                        <br>
                        <span style="margin-left:75px;">Already have an account</span><a href="{% url 'login' %}">&nbsp; &nbsp;Login</a>
                    </form>
                </div>
            </div>
        </div>
</section>
{% endblock %}