{% extends 'master.html' %}
{% block title %}information{% endblock %}

{% block body %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

							{% for cat in category %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{cat.id}}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{cat.name}}
										</a>
									</h4>
								</div>
								<div id="{{cat.id}}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											{% for i in cat.sub_category_set.all %}
											<li><a href="/product/?category={{i.id}}">{{i.name}} </a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}
						</div><!--/category-products-->

						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									{% for i in brand %}
									<li><a href="/product/?brand={{i.id}}"> <span class="pull-right">(50)</span>{{i.name}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div><!--/brands_products-->

					</div>
				</div>

<!-- 				featured items-->
				<div class="col-sm-9 padding-right">
					<div class="features_items">
						<h2 class="title text-center" style="font-size:30px;">Result</h2>
						{% for cat in category %}
						<div class="col-sm-4 zoom">
							<label style="color:orange; font-size:20px;">{{cat.name}}</label>
							<div class="product-image-wrapper">
								<div class="single-products">
										<div class="productinfo">
											{% for i in cat.sub_category_set.all %}
											<a href="/product/?category={{i.id}}" style="color:grey; font-size:15px;">{{i.name}} </a>
											<br>
											{% endfor %}
										</div>
								</div>
							</div>
						</div>
						{% endfor %}

					</div>
					</div><!--features_items-->
				</div>

			</div>
	</section>

{% endblock %}
