{% extends 'master.html' %}
{% block title %}product{% endblock %}

{% block body %}

	<section>
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<div class="left-sidebar">
						<h2>Category</h2>
						<div class="panel-group category-products" id="accordian"><!--category-productsr-->

							{% for cat in category %}
							<div class="panel panel-default">
								<div class="panel-heading">
									<h4 class="panel-title">
										<a data-toggle="collapse" data-parent="#accordian" href="#{{cat.id}}">
											<span class="badge pull-right"><i class="fa fa-plus"></i></span>
											{{cat.name}}
										</a>
									</h4>
								</div>
								<div id="{{cat.id}}" class="panel-collapse collapse">
									<div class="panel-body">
										<ul>
											{% for i in cat.sub_category_set.all %}
											<li><a href="/product/?category={{i.id}}">{{i.name}} </a></li>
											{% endfor %}
										</ul>
									</div>
								</div>
							</div>
							{% endfor %}
						</div><!--/category-products-->

						<div class="brands_products"><!--brands_products-->
							<h2>Brands</h2>
							<div class="brands-name">
								<ul class="nav nav-pills nav-stacked">
									{% for i in brand %}
									<li><a href="/product/?brand={{i.id}}"> <span class="pull-right">(50)</span>{{i.name}}</a></li>
									{% endfor %}
								</ul>
							</div>
						</div><!--/brands_products-->

					</div>
				</div>

				<div class="col-sm-9 padding-right">
					<div class="features_items"><!--features_items-->
						<h2 class="title text-center">Features Items</h2>

						{% for prod in product %}
						<div class="col-sm-4 zoom">
							<div class="product-image-wrapper">
								<div class="single-products">
									<label style="color:orange;">{{prod.brand}}</label>
										<a href="{{prod.id}}">
											<div class="productinfo text-center">
												<img src="/{{prod.image}}" alt="" height="250px;"/>
												<h2>{{prod.price}}</h2>
												<p>{{prod.name}}</p>
												<a href="{% url 'cart_add' prod.id %}" class="btn btn-default add-to-cart"><i class="fa fa-shopping-cart"></i>Add to cart</a>
											</div>
										</a>
								</div>
<!--								<div class="choose">-->
<!--									<ul class="nav nav-pills nav-justified">-->
<!--										<li><a href="{{prod.id}}"><i class="fa fa-plus-square"></i>View Product</a></li>-->
<!--									</ul>-->
<!--								</div>-->
							</div>
						</div>
						{% endfor %}
					</div>
					</div><!--features_items-->
				</div>


					<div class="recommended_items"><!--recommended_items-->
						<h2 class="title text-center">recommended items</h2>
						<div id="recommended-item-carousel" class="carousel slide" data-ride="carousel">
							<div class="carousel-inner">
								<div class="item active">
									{% for i in category %}
									<div class="col-sm-4">
										<div class="product-image-wrapper">
											<div class="single-products">
												<div class="productinfo text-center">
													<h2><a href="/info/" style="color:orange;">{{i.name}}</a></h2>
												</div>
											</div>
										</div>
									</div>
									{% endfor %}
								</div>
							</div>
						</div>
					</div>


			</div>
	</section>

{% endblock %}
